/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,500,700');
body{
  margin: 0 auto;
}

.newTask {
  display: inline-block;
  width: 390px;
  text-align: center;
  transition: all 0.4s;
}

.inputField {
  width: 80%;
  display: block;
  height: 25px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  font-family: "Work Sans", sans-serif;
}

.submitField {
  width: 50%;
  border-radius: 100px;
  background: lawngreen;
  color: white;
  font-family: "Work Sans", sans-serif;
  border: none;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
}

.finished {
  color: lawngreen;
}

.wip {
  color: orange;
}
